<!DOCTYPE html>
<html>
    <head>
        <title>NodeJS Express MongoDB CRUD</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">        
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body class="bg-info" style="font-family: 'Montserrat', sans-serif;">
        <div class="row">
            <div class="col-md-8 offset-md-2" style="background: #fff; margin-top: 25px; padding:20px;">
                {{{body}}}
            </div>
        </div>
    </body>
</html>